/*  STRUCTURE GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #2c3e50;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #00adb5;
}

/* MAIN */
.content {
    margin-left: 240px;
    padding: 30px;
}

h1, h3 {
    color: #2c3e50;
}

ul {
    padding-left: 20px;
}

button {
    margin: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #aaa;
    font-size: 0.9em;
}

.alert {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
    background-color: white;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
    }
}