/*  STRUCTURE GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
}

/* WRAPPER */
.wrapper {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #2c3e50;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 4px;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
     background-color: #00adb5;
}

/* MAIN */
.content {
    flex: 1;
    padding: 40px;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 18px 0 10px 0;
    background: transparent;
    color: #718096;
    position: relative;
    bottom: 0;
    left: 0;
}