{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Notifications - Détection de Suspects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/gestionnaire_notifications.css' %}" rel="stylesheet">
</head>
<body>

<div class="sidebar">
    <h2>Gestionnaire</h2>
    <ul>
        <li><a href="{% url 'dashboard_accueil' %}"><i class="fas fa-home"></i>Accueil</a></li>
        <li><a href="{% url 'dashboard_admin' %}"><i class="fas fa-tachometer-alt"></i>Tableau de bord Admin</a></li>
        <li><a href="{% url 'dashboard_analyste' %}"><i class="fas fa-tachometer-alt"></i>Tableau de bord Analyste</a></li>
        <li><a href="{% url 'first_dashboard_dataset' %}"><i class="fas fa-database"></i>Datasets</a></li>
        <li><a href="{% url 'first_dashboard_ML' %}"><i class="fas fa-brain"></i>Modèles ML</a></li>
        <li><a href="{% url 'first_dashboard_campagnes' %}"><i class="fas fa-bullhorn"></i>Campagnes</a></li>
        <li><a href="{% url 'first_dashboard_campagnes' %}"><i class="fas fa-flask"></i>Campagne Test</a></li>
        <li><a href="{% url 'first_dashboard_gestionnaire' %}" class="active"><i class="fas fa-cog"></i>Gestionnaire</a></li>
        <li><a href="{% url 'first_dashboard_utilisateurs' %}"><i class="fas fa-users"></i>Utilisateurs</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
    </ul>
</div>

<div class="content">
    <h1>Notifications - Détection de Suspects</h1>
    <form method="get" class="filter-form">
      <label for="date_debut">Date début :</label>
      <input type="date" id="date_debut" name="date_debut" value="{{ date_debut }}">

      <label for="date_fin">Date fin :</label>
      <input type="date" id="date_fin" name="date_fin" value="{{ date_fin }}">

      <button type="submit">Filtrer</button>
    </form>
    <ul>
        {% for notification in notifications %}
            <li>
                <strong>Notification :</strong> {{ notification.message }}<br>
                <em>Date :</em> {{ notification.date_creation }}
            </li>
        {% empty %}
            <li>Aucune alerte de suspects détectés pour le moment.</li>
        {% endfor %}
    </ul>
</div>

<footer>
    <p>&copy; 2025 SoleasDetection. Tous droits réservés.</p>
</footer>

</body>
</html>